/* Actually styles */
    
p {
    color: darksalmon;
}
div p {
    color: black;
    font-size: 22px;
}
ul {
    background-color: black;
    list-style-type: none;
    border: 2px solid silver;
    padding-left: 20%;
}
li {
    display: inline-block;
    width: 100px;
    height: 100px;
    color: silver;
    border: 2px solid silver;
    margin: 10px;
}
h1.bw-10 { 
    border-width: 10px;
}
h1.bc-blk {
    border-color: black;
}
h1.bs-dot {
    border-style: dotted;
}
    /*color: chartreuse; 
    background-color: tomato;
    border: 10px dotted blue;*/
h1.bd-tp-yw {    
    border-top-color: yellow;
} 
h1.bd-lf-char {   
    border-left-color: chartreuse;
} 
h1.bd-rg-ab {
    border-right-color: aliceblue; 
}
h1.bd-bt-sm {
    border-bottom-color: salmon;
}
    /*border-style: dotted;*/